{% extends 'base.html' %}
{% load static %}

{% block title%}
{{title}}
{% endblock title%}

{% block main %}
<!--Zoom effect-->
<h3 class="m-2 mb-5">{{title}}</h3>
<div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
    <div class="ml-0 mb-3">
        <button class="btn btn-success" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)!important">
            <a href="{% url 'add_client' %}" style="color: white;text-decoration: none"><i class="bi bi-person-plus-fill"></i>Добавить</a>
        </button>
        {% if user.is_superuser %}
        <button class="btn btn-success" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)!important"><a href="{% url 'export_client' %}" style="color: white;text-decoration: none;"><i class="bi bi-download m-0"> </i>Excel</a>
        </button>
        {% endif %}
    </div>
    {% include 'crm/components/_client_table.html' %}
</div>
{% endblock main %}