{% extends 'base.html' %}
{% load static %}
{% block title%}
{{title}}
{% endblock title%}

{% block main %}
<div class="row ">
    <div class="col-sm-9" style="padding:0px 5px 0px 0px">
        <!--User profile header-->
        <div class="mt-1 mb-3 button-container bg-white border shadow-sm">
            <div class="profile-bg p-5"
                 style="background-image:url({% static 'profilbg.png' %});background-size: cover;background-position-y: 40%;background-repeat: no-repeat;height: 150px;">
                <img src="{{client.get_image}}" style="object-fit: cover;" height="125px" width="125px"
                     class="rounded-circle shadow profile-img">
            </div>

            <div class="profile-bio-main container-fluid" style="    height: 95px;    display: flex;
    flex-direction: column-reverse;
    justify-content: center;">
                <div class="row">
                    <div class="col-md-5 offset-md-3 col-sm-12 offset-sm-0 col-12 bio-header">

                        <h3 class="mb-0">{{client.name}} {{client.surname}} </h3>
                                                <span class="badge rounded-pill text-bg-info">{{client.get_profession_display}}</span>

                        {% if office %}
                        <span class="badge rounded-pill text-bg-warning" style="font-size: 12px;"><a class="text-dark" href="{{office.get_absolute_url}}">Aрендатор офиса</a></span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-warning" style="font-size: 12px;"></span>

                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <span class="text-muted mt-0 bio-request"><i class="bi bi-star"></i>Лояльность {{client.loyalty}}дня</span>
                            <span class="text-muted mt-0 bio-request">
                            Персональная скидка: -{{client.discount}}%</span>
                            {% if client.username %}
                            <a href="https://t.me/{{ client.username }}" class="text-primary"><i
                                    class="bi bi-telegram p-0 m-0"> </i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-12 px-5 pt-4" style="text-align: right">
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#staticZakaz"><i class="bi bi-plus"></i>Заказ
                        </button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop"><i class="bi bi-pencil-fill"></i>Изменить
                        </button>
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Редактирование профиля</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                        </button>
                                        <button type="submit" class="btn btn-primary">Изменить</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="staticZakaz" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:50rem">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticZakazLabel">Новый заказ</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    {% include 'crm/components/client_detail/order_from_profile.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/User profile header-->
    </div>
    <div class="col-sm-3 p-0">
        <div class="mt-1 mb-3 p-3 button-container border shadow-sm">
            <h3 class="text-center">Подписка</h3>
            {% if abonement.0 %}
            <div class="card text-bg-dark">
                <div class="card-img" style="background-color:#201863;height:170px">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center" style="color:yellow">{{ abonement.0 }}</h5>
                        <div class="d-flex justify-content-between">
                            <p class="text-white">{{abonement.0.subscription_start}}</p>
                            <p class="text-white">{{abonement.0.subscription_end}}</p>
                        </div>
                        <p class="text-center mt-5" style="font-size: 16px;">Скидочные часы для Митинг-зоны: <span
                                style="font-size: 25px;">{{abonement.0.free_time}}</span> час.</p>

                    </div>
                </div>
            </div>
            {% else %}
            <div class="card text-bg-dark border border-white">
                <div class="card-img" style="background-color:#EFEFEF;height:170px;border:none">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center mb-5" style="color:grey">Нет абонемента</h5>
                        <a href="" data-bs-toggle="modal"
                           data-bs-target="#modalAbonement">
                            <h5 class="card-title text-center" style="color:grey">+ Добавит абонемент</h5>
                        </a>
                    </div>
                    <div class="modal fade" id="modalAbonement" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content text-dark">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Купить Абонемент</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex" style=" justify-content:space-around">
                                        <div class="d-flex">
                                            <p>Active days : </p>
                                            <p id="activeDays"></p>
                                        </div>
                                        <div class="d-flex">
                                            <p>Price : </p>
                                            <p id="abonementPrice"></p>
                                        </div>
                                    </div>
                                    <form method="POST" action="{% url 'sale_subscribtion' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="{{ form2.abonement.id_for_label }}"
                                               class="form-label">Абонемент</label>{{form2.abonement}}
                                        <label for="{{ form2.subscription_start.id_for_label }}" class="form-label">День
                                            активации</label>{{form2.subscription_start}}
                                        <label for="{{ form2.subscription_end.id_for_label }}" class="form-label">День
                                            деактивации</label>{{form2.subscription_end}}
                                        <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">
                                            Отменить
                                        </button>
                                        <button type="submit" class="btn btn-primary mt-2">Подтвердить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    td {
        font-size: 14px;
        }
</style>
<div class="row">
    <!--User данные правая колонка -->
    <div class="col-sm-12 col-md-12 p-0">
        <div class="mt-1 mb-3 p-1 button-container bg-white border shadow-sm custom-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button style="border-radius: 20px 20px 0 0;" class="nav-link active" id="home-tab"
                            data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Заказы
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button style="border-radius: 20px 20px 0 0;" class="nav-link" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Оплаты
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button style="border-radius: 20px 20px 0 0;" class="nav-link" id="contact-tab" data-bs-toggle="tab"
                            data-bs-target="#contact-tab-pane"
                            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Документы
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">
                    <table id="dtBasicExample" class="table table-hover table-bordered table-sm" cellspacing="0">
                        <thead>
                        <tr>
                            <th class="text-center">№</th>
                            <th class="text-center">Дата создание</th>
                            <th class="text-center">Дата</th>
                            <th class="text-center">Филиал</th>
                            <th class="text-center">Комната</th>
                            <th class="text-center"><i class="bi bi-clock-history"></i></th>
                            <th class="text-center">Сумма</th>
                            <th class="text-center">Сумма скидкой</th>
                            <th class="text-center">Комментарии</th>
                            <th class="text-center">Тип оплаты</th>
                            <th class="text-center">Автор</th>
                            <th class="text-center">Статус оплаты</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in orders %}
                        <tr>
                            <td><b>{{o.pk}}</b></td>
                            <td>{{o.created_at}}</td>
                            <td>{{ o.order_start.date }}{{ o.order_start.time }}-{{ o.order_end.time }}</td>
                            <td>{{ o.filial }}</td>
                            <td>{{ o.product }}</td>
                            <td class="text-center">{{ o.hour }} час(а)</td>
                            <td>{{ o.summa }}</td>
                            <td>{{o.summa_with_discount}}</td>
                            <td>{{ o.comment }}</td>
                            <td>{% if o.payment != None %}{{o.payment}}{%endif%}</td>
                            <td>{{o.added_user}}</td>
                            <td>
                                <button style="width: 100%;height: 24px;text-align: center;line-height: 0;--bs-btn-active-color: #000000"
                                        type="button" class="btn btn-outline-info"><a style="color:black" href="{{ o.get_absolute_url }}">Оплата</a>
                                </button>
                            </td>
                            {%for payment in payments %}
                            {% if payment.order.pk == o.pk %}
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.summa }}</td>
                            <td>{{ payment.payment }}</td>
                            {% endif %}
                            {% endfor %}

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                     tabindex="0">
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>День оплаты</th>
                            <th>Сумма</th>
                            <th>Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for payment in payments %}
                        <tr>
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.summa }}</td>
                            <td>{{ payment.payment }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                     tabindex="0"><a href=""></a>
                    {% if client.file_link %}
                    <a href="{{ client.file_link }}" class="text-danger my-4">Скачать </a>{{ client.file_link }}<br>
                    {% else %}
                    <div class="my-5 text-center">Нет прикрепленных документов</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--/User данные правая колонка -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Function to update the datetime-end value
    function updateDateTimeEnd() {
        // Get the values of hour and datetime-start
        const hour = parseInt($('#hourSelect').val());
        const dateTimeStart = new Date($('#id_order_start').val());
        // Calculate the datetime-end value
        const dateTimeEnd = new Date(dateTimeStart.getTime() + 18000000 + hour * 60 * 60 * 1000);
        // Update the datetime-end input value
        $('#id_order_end').val(dateTimeEnd.toISOString().slice(0, 16));
    }
    // Add event listeners to update the datetime-end value when hour or datetime-start change
    $('#hour, #id_order_start').on('input', updateDateTimeEnd);


    const abonements = JSON.parse('{{json_abonements|safe}}');
    const selectElement = document.getElementById('id_abonement');
    selectElement.addEventListener('change',(event) => {
    const selectedValue = event.target.value;
    const abonementTitle = selectElement.options[selectElement.selectedIndex].text;

    for (let i = 0; i < abonements.length; i++) {
        if (abonements[i].title == abonementTitle){
        const titleSelect = document.getElementById('abonementPrice');
        const activeDays = document.getElementById('activeDays');
        titleSelect.innerText = abonements[i].price;
        activeDays.innerText = abonements[i].days;
    }}});
    // Update abonement buy dates
    $("#id_subscription_start").change(function () {
        var start_date = new Date($("#id_subscription_start").val());
        const paragraphElement = document.getElementById('activeDays');
        const daysInt = parseInt(paragraphElement.textContent);
        var end_date = new Date(start_date.getTime() + (daysInt * 24 * 60 * 60 * 1000));
        var end_year = end_date.getFullYear();
        var end_month = ("0" + (end_date.getMonth() + 1)).slice(-2);
        var end_day = ("0" + end_date.getDate()).slice(-2);
        $("#id_subscription_end").val(end_year + "-" + end_month + "-" + end_day);
    });

</script>

{% endblock main %}
