{% extends 'base.html' %}

{% block title%}
{{title}}
{% endblock title%}

{% block main %}
<div class="col-sm-12 col-xs-12 content pt-3 pl-0 d-flex justify-content-center">
    <div class="card p-4 shadow h4" style="width:60rem">
        <label class="form-label d-flex justify-content-center" style="text-decoration:underline">Новый заказ</label>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Клиент:</label>
                {{ form.client }}
                {{ order.client }}
            </div>
            <div class="col-md-6">
                <label class="form-label">Комната</label><br>
                {% for room in products %}
                {% if room == order.product %}
                <button onclick="location.href='{% url 'to_cart' room %}'" class="btn btn-dark m-1">{{ room }}
                </button>
                {% else %}
                <button onclick="location.href='{% url 'to_cart' room %}'" class="btn btn-light m-1">{{ room }}
                </button>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3 d-flex align-items-center quantity-container"
                     style="max-width: 120px;">
                    <label class="form-label">Длительность</label>
                    <button onclick="location.href='{% url 'to_cart' 'delete' %}'"
                            class="btn btn-outline-black increase">&minus;
                    </button>
                    <input type="text" class="form-control text-center quantity-amount" value="{{ order.hour }}"
                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button onclick="location.href='{% url 'to_cart' 'add' %}'"
                                class="btn btn-outline-black increase">&plus;
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="">От : {{ order.order_start }}</p>
                <p class="">До : {{ order.order_end }}</p>
            </div>
            <div class="col-md-12">
                {% if order.payment %}
                <button onclick="location.href='{% url 'to_cart' 'Terminal' %}'" class="btn btn-light m-1">Терминал
                </button>
                <button onclick="location.href='{% url 'to_cart' 'Cash' %}'" class="btn btn-success m-1">Наличные
                </button>

                {% else %}
                <button onclick="location.href='{% url 'to_cart' 'Terminal' %}'" class="btn btn-success m-1">
                    Терминал
                </button>
                <button onclick="location.href='{% url 'to_cart' 'Cash' %}'" class="btn btn-light m-1">Наличные
                </button>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if order.payment_status %}
                <button onclick="location.href='{% url 'to_cart' 'Paid' %}'" class="btn btn-success m-1">Оплачен
                </button>
                <button onclick="location.href='{% url 'to_cart' 'Unpaid' %}'" class="btn btn-light m-1">Не оплачен
                </button>
                {% else %}
                <button onclick="location.href='{% url 'to_cart' 'Paid' %}'" class="btn btn-light m-1">Оплачен
                </button>
                <button onclick="location.href='{% url 'to_cart' 'Unpaid' %}'" class="btn btn-danger m-1">Не оплачен
                </button>
                {% endif %}
            </div>
            <div class="col-md-6" style="text-align:end">
                {% if order.status == 'Waiting' %}
                <button onclick="location.href='{% url 'to_cart' 'Waiting' %}'" style="border-radius:20px"
                        class="btn btn-primary btn-sm">Ожидание
                </button>
                <button onclick="location.href='{% url 'to_cart' 'Active' %}'" style="border-radius:20px"
                        class="btn btn-secondary btn-sm">Активный
                </button>

                {% else %}
                <button onclick="location.href='{% url 'to_cart' 'Waiting' %}'" style="border-radius:20px"
                        class="btn btn-secondary btn-sm">Ожидание
                </button>
                <button onclick="location.href='{% url 'to_cart' 'Active' %}'" style="border-radius:20px"
                        class="btn btn-primary btn-sm">Активный
                </button>

                {% endif %}
            </div>
            <div class="col-md-12">
                <p class="d-flex justify-content-end" style="font-size:40px">
                    Сумма:{% if order.summa %} {{ order.summa }} {% endif %}</p>
            </div>
            <div class="col-12">
                <a href="{% url 'to_cart' 'Confirm' %}" class="btn btn-primary" type="button">Закрыт</a>
            </div>
        </div>
    </div>
</div>


{% endblock main %}
