{% extends 'base.html' %}
{% load static %}
{% block title%}

{{title}}
{% endblock title%}

{% block style%}

{% endblock style%}


{% block main %}
<h3 class="m-2 mb-5">Отчеты по оплатам</h3>
<button onclick="location.href='{% url 'reports' %}'" class="btn btn-primary m-1">По оплатам</button>
<button onclick="location.href='{% url 'products' %}'" class="btn  m-1">По продуктам</button>
<button onclick="location.href='{% url 'abonements' %}'" class="btn m-1">По абонементам</button>


<div class="col-sm-12 col-md-12">
    <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm custom-tabs">
        <button class="btn btn-success mb-3"><a href="{% url 'download' %}"><i class="bi bi-download m-0"> </i>Excel</a>
        </button>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Дням
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Месяцам
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-kvartl" data-bs-toggle="tab" data-bs-target="#profile-kvartl-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Кварталам
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                        type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Годам
                </button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                 tabindex="0">
                <table id="dtBasicExample" class="table table-hover table-bordered table-sm" cellspacing="0"
                       width="80%">
                    <thead>
                    <tr style="text-align:center">
                        <th class="th-sm" style="width:20%">Период</th>
                        <th class="th-sm" style="width:14%">Kitoblar</th>
                        <th class="th-sm" style="width:14%">Minor</th>
                        <th class="th-sm" style="width:14%">Sharq</th>
                        <th class="th-sm" style="width:12%">Терминал</th>
                        <th class="th-sm" style="width:12%">Наличные</th>
                        <th class="th-sm" style="width:12%">Общая сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data_day %}
                    <tr style="text-align:end">
                        <td style="text-align:start">{{ d.month.date }}</td>
                        <td>{{ d.f1 }}</td>
                        <td>{{ d.f2 }}</td>
                        <td>{{ d.f3 }}</td>
                        <td>{{ d.terminal }}</td>
                        <td>{{ d.nalichka }}</td>
                        <td><strong>{{ d.itogo }}</strong></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                    <tr style="text-align:center">
                        <th class="th-sm" style="width:20%">Период</th>
                        <th class="th-sm" style="width:14%">Kitoblar</th>
                        <th class="th-sm" style="width:14%">Minor</th>
                        <th class="th-sm" style="width:14%">Sharq</th>
                        <th class="th-sm" style="width:12%">Терминал</th>
                        <th class="th-sm" style="width:12%">Наличные</th>
                        <th class="th-sm" style="width:12%">Общая сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data_month %}
                    <tr style="text-align:end">
                        <td style="text-align:start">{{ d.month }}</td>
                        <td>{{ d.f1 }}</td>
                        <td>{{ d.f2 }}</td>
                        <td>{{ d.f3 }}</td>
                        <td>{{ d.terminal }}</td>
                        <td>{{ d.nalichka }}</td>
                        <td><strong>{{ d.itogo }}</strong></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile-kvartl-pane" role="tabpanel" aria-labelledby="profile-kvartl"
                 tabindex="0">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                    <tr style="text-align:center">
                        <th class="th-sm" style="width:20%">Период</th>
                        <th class="th-sm" style="width:14%">Kitoblar</th>
                        <th class="th-sm" style="width:14%">Minor</th>
                        <th class="th-sm" style="width:14%">Sharq</th>
                        <th class="th-sm" style="width:12%">Терминал</th>
                        <th class="th-sm" style="width:12%">Наличные</th>
                        <th class="th-sm" style="width:12%">Общая сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data_kvartl %}
                    <tr style="text-align:end">
                        {% if d.month.month == 1 %}
                        <td style="text-align:start">1-квартал {{ d.month.year }}-год</td>
                        {% elif d.month.month == 4 %}
                        <td style="text-align:start">2-квартал {{ d.month.year }}-год</td>
                        {% elif d.month.month == 7 %}
                        <td style="text-align:start">3-квартал {{ d.month.year }}-год</td>
                        {% elif d.month.month == 10 %}
                        <td style="text-align:start">4-квартал {{ d.month.year }}-год</td>
                        {% endif %}
                        <td>{{ d.f1 }}</td>
                        <td>{{ d.f2 }}</td>
                        <td>{{ d.f3 }}</td>
                        <td>{{ d.terminal }}</td>
                        <td>{{ d.nalichka }}</td>
                        <td><strong>{{ d.itogo }}</strong></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                 tabindex="0"><a href=""></a>
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                    <tr style="text-align:center">
                        <th class="th-sm" style="width:20%">Период</th>
                        <th class="th-sm" style="width:14%">Kitoblar</th>
                        <th class="th-sm" style="width:14%">Minor</th>
                        <th class="th-sm" style="width:14%">Sharq</th>
                        <th class="th-sm" style="width:12%">Терминал</th>
                        <th class="th-sm" style="width:12%">Наличные</th>
                        <th class="th-sm" style="width:12%">Общая сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data_year %}
                    <tr style="text-align:end">
                        <td style="text-align:start">{{ d.month.year }}-год</td>
                        <td>{{ d.f1 }}</td>
                        <td>{{ d.f2 }}</td>
                        <td>{{ d.f3 }}</td>
                        <td>{{ d.terminal }}</td>
                        <td>{{ d.nalichka }}</td>
                        <td><strong>{{ d.itogo }}</strong></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock main %}
