<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<table id="example" class="table table-hover table-bordered" style="width:100%">
    <thead>
    <tr>
        <th></th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>ИД</th>
        <th>ТГ-чат</th>
        <th>Контакт</th>
        <th>Дата создания</th>
        <th>Автор</th>
        <th>Скидка</th>
        <th>Лояльность</th>
    </tr>
    </thead>
    <tbody>
    {% for c in clients %}

    <tr onclick="window.location='{{ c.get_absolute_url }}'" style="cursor: pointer">
        <td style="text-align:center"><img src="{{ c.get_image }}" class='rounded-circle' style="width:25px "></td>
        <td>{{ c.name }}</td>
        <td>{{ c.surname }}</td>
        <td>{{ c.telegram_id }}</td>
        {% if c.username %}
        <td><a href="https://t.me/{{ c.username }}" class="text-primary" style="text-decoration: none"><i class="bi bi-telegram p-0 m-0"> </i>Chat</a>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ c.get_contact }}</td>
        <td>{{ c.created_at.date }}</td>
        {% if c.added_user %}
        <td>{{ c.added_user }}</td>
        {% else %}
        <td>Telegram</td>
        {% endif %}
        <td>{{ c.discount }}%</td>
        {% if c.activity == 1 %}
        <td class="p-0 text-center"><i class="bi bi-reception-{{ c.activity }}"
                                       style="color:red;font-size:30px"></i>
        </td>
        {% elif c.activity == 2 %}
        <td class="p-0 text-center"><i class="bi bi-reception-{{ c.activity }}"
                                       style="color:orange;font-size:30px"></i>
        </td>
        {% elif c.activity == 3 %}
        <td class="p-0 text-center"><i class="bi bi-reception-{{ c.activity }}"
                                       style="color:green;font-size:30px"></i>
        </td>
        {% else %}
        <td class="p-0 text-center"><i class="bi bi-reception-{{ c.activity }}"
                                       style="color:green;font-size:30px"></i>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>ИД</th>
        <th>ТГ-чат</th>
        <th>Контакт</th>
        <th>Дата создания</th>
        <th>Автор</th>
        <th>Скидка</th>
        <th>Лояльность</th>
    </tr>
    </tfoot>
</table>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    new DataTable('#example', {
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/ru.json'
        }
    })
</script>


