<nav class="navbar navbar-expand-lg m-0 p-0">
    <div class="collapse navbar-collapse btn-group" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-0 m-0" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <span class="position-absolute top-0 end-0 translate-middle badge rounded-pill badge-notification bg-danger mt-1">{{ counts }}</span>
                    <i class="bi bi-bell-fill " style="font-size:1.5rem"></i>
                </a>

                <ul class="dropdown-menu" style="background-color:#EFEFEF;width:20rem;min-height:20rem">
                    <li class="d-flex">
                        <h6 style="text-align:center;color:black;width:95%">Скорая деактивация , <br>осталось
                            меньше 3
                            дней!
                        </h6>
                    </li>
                    {% for n in notifies %}

                    <li class="card m-1 text-center bg-danger text-light" style="height:4rem">
                        <a style="cursor:pointer" onclick="location.href='{{ n.client.get_absolute_url }}'">
                            {{ n.client }}<br>до {{ n.subscription_end }}</a>
                    </li>
                    {% endfor %}
                    {% for office in office_notifies %}

                    <li class="card m-1 text-center bg-danger text-light" style="height:4rem">
                        <a style="cursor:pointer" onclick="location.href='{{ office.office.get_absolute_url }}'">
                            {{ office.booked_user }}<br>до {{ office.rent_end }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>