{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
    li.parent { height:80px}
    i {margin : 0}
    li.parent a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 12px;
        text-decoration: none;
        border-radius: 10%;}
    li.parent a:hover {
        background-color:#54545440;
    }
    .sidebar-menu li {
    border:none;}

    a.{{selectMenu}} {
    background-color:#54545440;
    }
</style>

<div class="col-sm-2  p-0"
     style="width:8%; background-color: #2e2e3a;height: auto;min-height: 95vh  ;transition: 200ms;">
    <div class="inner-sidebar mr-3">
        <!--        <div class="avatar text-center pt-3">-->
        <!--            {% if user.is_superuser %}-->
        <!--            <a href="/admins_profile/"><img src="{% static 'admin_icon.jpg' %}" style='width: 80px;'-->
        <!--                                            class="bg-light rounded-circle"></a>-->
        <!--            {% else %}-->
        <!--            <a href="/admins_profile/"><img src="{% static 'user.png' %}" style='width: 80px;'-->
        <!--                                            class="bg-light rounded-circle"></a>-->
        <!--            {% endif %}-->
        <!--            <p class="pt-2 mb-0 text-light">{{ user.get_full_name }}</p>-->
        <!--            <span class="text-primary small"><strong>{{ user.groups.all.0.name }}</strong></span>-->
        <!--        </div>-->
        <div class="sidebar-menu-container">

            <ul class="sidebar-menu mt-0 mb-4">
                <li class="parent my-2">
                    <a href="/index/" class="index">
                        <i class="bi bi-speedometer2" style="font-size:25px"></i>
                        <span style="">Главная</span>
                    </a>
                </li>
                <li class="parent my-2">
                    <a href="/clients/" class="clients">
                        <i class="bi bi-people-fill" style="font-size:25px"></i>
                        <span class="none">Клиенты</span>
                    </a>
                </li>
                <li class="parent my-2">
                    <a href="/orders/" class="orders"><i class="bi bi-cart-plus-fill" style="font-size:25px"></i>
                        <span class="none">Заказы </span>
                    </a>
                </li>
                <li class="parent my-2">
                    <a href="/offices/" class="offices"><i class="bi bi-door-closed-fill" style="font-size:25px"></i>
                        <span class="none">Офисы </span>
                    </a>
                </li>
                {% if user.is_superuser%}
                <li class="parent my-2">
                    <a href="/reports/" class="reports"><i class="bi bi-list-columns" style="font-size:25px"></i>
                        <span class="none">Отчёты </span>
                    </a>
                </li>
                {% endif %}
                <li class="parent my-2">
                    <a href="/abonements_list/" class="abonements"><i class="bi bi-briefcase-fill" style="font-size:25px"></i>
                        <span class="none">Абонементы </span>
                    </a>
                </li>
                <li class="parent my-2">
                    <a href="/event_list/" class="event_list">
                        <i class="bi bi-mic-fill" style="font-size:25px"></i>
                        <span class="none">Ивенты </span>
                    </a>
                </li>
                <li class="parent my-2">
                    <a href="/documentation/" class="documentation"><i class="bi bi-info-square" style="font-size:25px"></i>
                        <span class="none">Справка</span>
                    </a>
                </li>
                <li class="parent my-2">
                    <a href="/payments/" class="payments"><i class="bi bi-bank" style="font-size:25px"></i>
                        <span class="none">Оплаты</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

    window.setTimeout(function() {
        $(".alert").fadeTo(1000, 0).slideUp(300, function(){
            $(this).remove();
        });
    }, 1000);

    });
</script>
